Source: qt-components-hildon
Section: user/other
Priority: optional
Maintainer: Michael Demetriou <qwazix@unknown>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: qt-components-hildon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QML components offering Hildon styling
 <insert long description, indented with spaces>
XSBC-Maemo-Display-Name: qt-components-hildon
XB-Maemo-Icon-26: 
